@charset "UTF-8";
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    color: #242e99;
    text-align: center;
    font-size: 45px;

}
h2{
    color:#1067b3;
    font-size: 30px;

}
p{
    text-align: justify;
    color: #000000;
    font-size: 15px ;

}
body{
     background-image: linear-gradient(to right, #358DAF, #1067b3, #242e99 );

}
main{
    background-color: white;
    width: 700px;
    padding: 10px;
    border-radius: 5px;
    margin: auto;
    box-shadow: 10px 10px 10px white) ;
}